/* tabla */
.tabla-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: #0d334f;
  color: #fff;
}

th, td {
  padding: 2px 10px;
  border-bottom: 1px solid #ddd;
}
