

@media (max-width: 600px) {
    .menu-hamburguesa {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        z-index: 2000;
    }

    .menu-hamburguesa img {
        width: 30px;
        height: 30px;
    }

    /* Sidebar ocultada*/
    .sidevar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #c77b00b9;
        width: 230px;
        height: 100vh;
        flex-direction: column;
        z-index: 1000;
        transition: transform 0.3s ease-in-out;
    }

    .sidevar.mostrar {
        display: flex;
        transform: translateX(0);
    }

    /* Contenido centrado y ajustado */
    .contenido {
        margin-left: 10px;
    }

    nav {
        justify-content: space-between;
        margin-left: 5px;
    }
}
